<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>thanhhp.controller.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>thanhhp.listener.MyServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>thanhhp.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>thanhhp.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLastNameServlet</servlet-name>
        <servlet-class>thanhhp.controller.SearchLastNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>thanhhp.controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookToCartServlet</servlet-name>
        <servlet-class>thanhhp.controller.AddBookToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartUpServlet</servlet-name>
        <servlet-class>thanhhp.controller.StartUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>thanhhp.controller.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookFromCartServlet</servlet-name>
        <servlet-class>thanhhp.controller.RemoveBookFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>thanhhp.controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlineBookStoreServlet</servlet-name>
        <servlet-class>thanhhp.controller.OnlineBookStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <servlet-class>thanhhp.controller.CreateNewAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLastNameServlet</servlet-name>
        <url-pattern>/SearchLastNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookToCartServlet</servlet-name>
        <url-pattern>/AddBookToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartUpServlet</servlet-name>
        <url-pattern>/StartUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookFromCartServlet</servlet-name>
        <url-pattern>/RemoveBookFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlineBookStoreServlet</servlet-name>
        <url-pattern>/OnlineBookStoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewAccountServlet</servlet-name>
        <url-pattern>/CreateNewAccountServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>DispatchServlet</welcome-file>
    </welcome-file-list>-->
    <error-page>
        <location>/busy.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pageNotFound.html</location>
    </error-page>
    <resource-ref>
        <res-ref-name>DS007</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
