USE [master]
GO
/****** Object:  Database [THANHHP]    Script Date: 5/31/2021 11:50:11 PM ******/
CREATE DATABASE [THANHHP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'THANHHP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\THANHHP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'THANHHP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\THANHHP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [THANHHP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [THANHHP]
GO
/****** Object:  User [thanhhp]    Script Date: 5/31/2021 11:50:11 PM ******/
CREATE USER [thanhhp] FOR LOGIN [thanhhp] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[bookstore]    Script Date: 5/31/2021 11:50:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookstore](
	[bookID] [nvarchar](250) NOT NULL,
	[title] [nvarchar](250) NOT NULL,
	[price] [float] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_bookstore] PRIMARY KEY CLUSTERED 
(
	[bookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanhhp]    Script Date: 5/31/2021 11:50:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanhhp](
	[username] [nvarchar](250) NOT NULL,
	[password] [nvarchar](250) NOT NULL,
	[lastname] [nvarchar](250) NOT NULL,
	[isAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_thanhhp] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[bookstore] ([bookID], [title], [price], [quantity]) VALUES (N'PRN211', N'DOTNET', 44.2, 5)
INSERT [dbo].[bookstore] ([bookID], [title], [price], [quantity]) VALUES (N'SWP391', N'SoftWare Developement', 25.5, 3)
INSERT [dbo].[bookstore] ([bookID], [title], [price], [quantity]) VALUES (N'SWR302', N'Software Requirement', 22, 4)
GO
INSERT [dbo].[thanhhp] ([username], [password], [lastname], [isAdmin]) VALUES (N'kien', N'111111', N'trung ', 0)
INSERT [dbo].[thanhhp] ([username], [password], [lastname], [isAdmin]) VALUES (N'Quoc', N'123123', N'nguyen', 1)
INSERT [dbo].[thanhhp] ([username], [password], [lastname], [isAdmin]) VALUES (N'thanh', N'123456', N'hoang phuoc', 1)
GO
USE [master]
GO
